# Copy this file to .env and fill in your MySQL details.
# Never upload your real .env file to GitHub.
DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=4185ppHgWZ641dU.root
DB_PASSWORD=X0AMmrgZy79ez8y5
DB_NAME=sys

# DB_NAME=expense_tracker_db
